* {
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    color: #222;
    line-height: 1.5;
    margin: 0;
    font-size: 1.5rem;
}

h1 {
    font-size: 2.027rem;
}

h2 {
    font-size: 1.802rem;
}

h3 {
    font-size: 1.266rem;
}

img {
    width: 100%;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1em;
}

header, footer {
    text-align: center;
}

header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
   

}

header img {
    width: 20%;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    list-style: none;
    padding-left: 0;
}

header ul li {
    padding-left: 1em;
}

nav a {
    text-decoration: none;
    color: #000;
    font-size: 1rem;
}

 .grid-1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1200px;
    margin: 0 auto; 
    gap: 30px; 

    grid-template-areas: 
        "div1 div1 div1"
        "div2 div3 div4"
    ;

   
}

.grid-1 img{
    border-radius: 25px;
}
  
.grid-1 img:nth-child(1) {
    grid-area: div1;
}
  
.grid-1 img:nth-child(2) {
    grid-area: div2;
}
  
.grid-1 img:nth-child(3) {
    grid-area: div3;
}

.grid-1 img:nth-child(4) {
    grid-area: div4;
} 


#sweethearts-affair .wrapper {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 1200px;
}

.limited {
    font-weight: bold;
}

.btn  {
  display: inline-block;
  padding: .8em 1em;
  background-color: #000;
  color: #fff;
  text-decoration: none;
  border: 2px solid #000;
  border-radius: 4px;
  margin-top: auto;
}

a:hover,
a:focus {
  background-color: #fff;
  color: #000;
}

#behind-the-dough {
    background-color: #f8fafc;
}

#behind-the-dough .wrapper {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr;
    max-width: 1200px;
}

#behind-the-dough h2 {
    text-align: center;
}

.grid-2 {
    display: grid;

}

#what-people-are-saying {
    background-color: #000;
}

#what-people-are-saying .wrapper {
    color: #fff;
    padding: 20px;
    
    margin: 0 auto;
    max-width: 1200px;
}

#what-people-are-saying h2 {
    text-align: center;
}

.grid-3 {
    display: grid;
}

#try-it-with .wrapper{
    max-width: 1200px;
}

#try-it-with h2 {
    text-align: center;
}

#try-it-with .grid-4 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.grid-4 article {
    background-color: #f8fafc;
    border-radius: 25px;
}

.grid-4 img {
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}

#try-it-with h3 {
    text-align: center;
}

#try-it-with p {
    text-align: center;
}


@media (min-width: 768px){
    body {
        font-size: 1rem;
    }
    .grid-1 {
        grid-template-columns: repeat(2, 1fr);
        padding-bottom: 60px;

        grid-template-areas: 
            "div1 div2"
            "div3 div4"
        ;
    }

    .grid-1 img:nth-child(1) {
        grid-area: div1;
    }

    .grid-1 img:nth-child(2) {
        grid-area: div2;
    }

    .grid-1 img:nth-child(3) {
        grid-area: div3;
    }

    .grid-1 img:nth-child(4) {
        grid-area: div4;
    }

    .grid-2 {
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    .grid-3 {
        grid-template-columns: repeat(3, 1fr);
    }

    #try-it-with  .grid-4 {
        grid-template-columns: repeat(4, 1fr);
    }

}

@media (min-width: 960px){
    #sweethearts-affair .wrapper {
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }
}






footer {
    background-color: #000 ;
    color: #fff
}